<!--<h2 class="h2 text-center">Phone Numbers</h2>
<mat-grid-list cols="3" rowHeight="1:1">
  <mat-grid-tile>
    <div class="landline-container">
      <mat-form-field appearance="fill">
        <mat-label>Landline number</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="mobile-container">
      <mat-form-field appearance="fill">
        <mat-label>Mobile number</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<br /><br />
<h2 class="h2 text-center">Residential Address</h2>
<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile>
    <div class="addresslineone-container">
      <mat-form-field appearance="fill">
        <mat-label>Street No</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="addresslinetwo-container">
      <mat-form-field appearance="fill">
        <mat-label>Street Name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile> 
    <div class="surburb-container">
      <mat-form-field appearance="fill">
        <mat-label>Surburb</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="city-container">
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="post-container">
      <mat-form-field appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h2 class="h2 text-center">Postal Address</h2>
<mat-grid-list cols="3" rowHeight="4:1">
  <mat-grid-tile>
    <div class="addresslineone-container">
      <mat-form-field appearance="fill">
        <mat-label>Street No</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="addresslinetwo-container">
      <mat-form-field appearance="fill">
        <mat-label>Street Name</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="surburb-container">
      <mat-form-field appearance="fill">
        <mat-label>Surburb</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="city-container">
      <mat-form-field appearance="fill">
        <mat-label>City</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div class="post-container">
      <mat-form-field appearance="fill">
        <mat-label>Postal Code</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>

<h2 class="h2 text-center">Social Media</h2>
<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile>
    <div class="social-media-type-container">
      <mat-form-field appearance="fill">
        <mat-label>Select</mat-label>
        <mat-select>
          <mat-option value="facebook">Facebook</mat-option>
          <mat-option value="twitter">Twitter</mat-option>
          <mat-option value="linkedin">LinkedIn</mat-option>
          <mat-option value="instagram">Instagram</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div class="social-media-container">
      <mat-form-field appearance="fill">
        <mat-label>Social Media Address</mat-label>
        <input matInput />
      </mat-form-field>
    </div>
  </mat-grid-tile>
</mat-grid-list>
-->
<!-- <div class="contacts">
  <div class="text-left">
    <form [formGroup]="contactDetailsFormGroup" (ngSubmit)="onAddressSubmit()">
      <h2 class="h2 text-left">Contact Details</h2>

      <label class="text-left" for="address">Phone Numbers</label>
      <br />
      <div style="display: inline-block;">
        <input
          type="text"
          id="landlineNumber"
          name="landlineNumber"
          placeholder="Landline Number"
          formControlName="landlineNumber"
        />
      </div>
      <span style="padding-left: 120px;"></span>
      <div style="display: inline-block;">
        <input
          type="text"
          id="mobileNumber"
          name="mobileNumber"
          placeholder="Mobile Number"
          formControlName="mobileNumber"
        />
      </div>
      <br /><br /><br />

      <div class="residential" style="display: inline-block; overflow: auto;">
        <label class="text-left" for="address">Residential Address </label>
        <p>
          <input
            type="text"
            id="addressLine1"
            name="addressLine1"
            placeholder="Street No"
            formControlName="addressLine1"
          />
        </p>
        <p>
          <input
            type="text"
            id="addressLine2"
            name="addressLine2"
            placeholder="Street Name"
            formControlName="addressLine2"
          />
        </p>
        <p>
          <input
            type="text"
            id="surburb"
            name="surburb"
            placeholder="Surburb"
            formControlName="surburb"
          />
        </p>
        <p>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="City"
            formControlName="city"
          />
        </p>
        <p>
          <input
            type="text"
            id="postalCode"
            name="postalCode"
            placeholder="Postal Code"
            formControlName="postalCode"
          />
        </p>
      </div>
      <span style="padding-left: 120px;"></span>
      <div class="postal" style="display: inline-block; overflow: auto;">
        <label class="text-left" for="address">Postal Address </label>
        <p>
          <input
            type="text"
            id="addressLine1"
            name="addressLine1"
            placeholder="Street No"
            formControlName="addressLine1"
          />
        </p>
        <p>
          <input
            type="text"
            id="addressLine2"
            name="addressLine2"
            placeholder="Street Name"
            formControlName="addressLine2"
          />
        </p>
        <p>
          <input
            type="text"
            id="surburb"
            name="surburb"
            placeholder="Surburb"
            formControlName="surburb"
          />
        </p>
        <p>
          <input
            type="text"
            id="city"
            name="city"
            placeholder="City"
            formControlName="city"
          />
        </p>
        <p>
          <input
            type="text"
            id="postalCode"
            name="postalCode"
            placeholder="Postal Code"
            formControlName="postalCode"
          />
        </p>
      </div>
      <p>
        <label for="isSameAddress">Postal same as Residential Address</label>
        <input
          type="checkbox"
          id="isSameAddress"
          name="isSameAddress"
          formControlName="isSameAddress"
        />
      </p>
      <p>
        
        <input
          type="text"
          id="socialMedia"
          placeholder="Social Media"
          name="socialMedia"
          formControlName="socialMedia"
        />
      </p>
    </form>
  </div>
</div> -->
