<div class="container">
  <h2>
    This is an HR application that caters to the capturing of employees
    information. The user of this application will be able to enter the
    following employee information:
  </h2>
  <p>
    <strong>
      <ul>
        <li>First Name</li>
        <li>Last Name</li>
        <li>Employee Number</li>
        <li>
          Address
          <ul>
            <li>Residential</li>
            <li>Postal addresses</li>
          </ul>
        </li>
        <li>
          Contact details
          <ul>
            <li>landline number</li>
            <li>mobile number</li>
            <li>email address</li>
            <li>social media addresses</li>
          </ul>
        </li>
      </ul>
    </strong>
  </p>
  <h2>
    The user may also view a list of all employees in the company, edit a single
    employee and delete a user where necessary.
  </h2>
  <div>
    <a class="btn btn-primary" href="/empslist">View Employees</a>
  </div>
</div>
