.pd-main{
margin-left: 20px;
}

 input{
    margin-bottom: 15px;
    width:338px;
}

.checkbox{
    width: 20px;

    position: relative;
    left: 0px;

    vertical-align: middle;
    display: inline-block;
}
.checkboxlabel{
    width: 200px;

    position: relative;
    left: 10px;

    display: inline-block;
    vertical-align: middle;
}

.btn{
    margin-right: 30px;
    margin-bottom: 40px;
    background-color: Transparent;
    background-repeat:no-repeat;
}

.btn-primary{
    color: #0074d9;
}

.btn-warning{
    color: #ffc107;
}

/*
--blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
*/